html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}



input[type="text"] {
  height: 20px;
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 50px;
}

button {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font defaults */
body {
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
