@page
@{
    ViewData["Title"] = "Contact Me";
}

<h2>Contact Me</h2>
<p>Feel free to reach out to me:</p>
<ul>
    <li>Email: davidwbohn@gmail.com</li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/davidwbohn/" target="_blank">linkedin.com</a></li>
    <li>GitHub: <a href="https://github.com/dbohn94" target="_blank">github.com</a></li>
    <!-- Add more contact information as needed -->
</ul>
