@page
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>
<p>Check out some of my notable projects:</p>
<ul>
    <li><a href="#">Project 1: Data Warehousing with SQL Server</a></li>
    <li><a href="#">Project 2: ETL Pipeline in Azure Data Factory</a></li>
    <li><a href="#">Project 3: Interactive Dashboards with Power BI</a></li>
    <!-- Add more projects with links as needed -->
</ul>
